# Para parsing de números escritos por extenso
number-parser>=0.3.2

# Para variáveis de ambiente
python-dotenv>=1.0.0

# Telegram Bot API
python-telegram-bot>=20.0

#JobQueue PTB
python-telegram-bot[job-queue]

# Para manipulação de fusos horários
pytz>=2024.0

# Google Generative AI (legacy)
google-generativeai>=0.8.5

# API para transcrição de áudio
google-cloud-speech